
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
bs4
pypdf
chromadb
faiss-cpu
groq
beautifulsoup4
langchain-groq
arxiv
langchainhub
langchain_ollama
SafeLoader
streamlit_authenticator
